
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Jersey+15&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Silkscreen:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
}

.headbar{
    min-height: 50px;
    font-size: 20px;
   font-weight: bold;
    
    color: #2980b9;
   font-family: "Montserrat Underline", serif;
   background-color: aliceblue;
   display: flex;
   width: 100vw;
   align-items: center;
}

section{
    height: 100vh;
    width: 100vw;
   
    background: linear-gradient(-45deg, #75a2df, #4f85cf, #a3c3f5, #5d92e5);
    background-size: 300% 300%;
    animation: gradientAnimation 5s infinite alternate ease-in-out;
    font-family: "Silkscreen", serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.score{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    /* margin: 10px; */
    padding: 20px;
}

.score h2{
    font-size: 30px;
}

.score p{
    text-align: center;
    padding: 8px;
    font-size: 25px;
}

.intro{
 height: 40vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 transition: opacity 0.5s cubic-bezier(0.72,-0.27, 0.01, 2.73);
}

.intro h1{
 padding: 50px;
 font-size: 35px;
 color: aliceblue;
}

.intro button{
    background-color: #2980b9;
    color:aliceblue;
 padding: 15px 25px;
 width: 15vw;
 font-weight: bold;
 border: none;
 border-radius: 6px;
 margin: 10px;
 font-family: "Roboto", sans-serif;
 cursor: pointer;
 transition: all 1s cubic-bezier(0.72,-0.19, 0, 1.55) 0s;
 animation: bounce 1s infinite alternate;
 /* animation: shake 0.5s infinite; */
}


.intro button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background: aliceblue;
    transition: width 0.3s;
    z-index: -1;
    border-radius: 6px;
  }
  
  .intro button:hover::after {
    width: 100%;
    height: 100%;
  }
  
  .intro button:hover {
    color: #2980b9;
  }




@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-8px); }
  }

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    transition: opacity 0.5s cubic-bezier(0.72,-0.27, 0.01, 2.73) 0.5s ;
}

.hands img{
    height: 150px;
}

 /* winner */
.starting{ 
font-size: 25px;
/* justify-content: center; */
text-align: center;
color: rgb(232, 224, 84);
position: relative;
top: 340px;
}


.hands {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    top: 100px;
    position: relative;
}

.options{
    display: flex;
   
    gap: 240px;
}

.options button{
    background-color: aliceblue;
    color:#2980b9;
 padding: 15px 25px;
 width: 15vw;
 font-weight: bold;
 border: none;
 border-radius: 50%;
 height: 100px;
 width: 100px;
 margin: 10px;
 font-family: "Roboto", sans-serif;
 cursor: pointer;
 transition: all 1s cubic-bezier(0.72,-0.19, 0, 1.55) 0s;

 position: relative;
 top: 270px;

}

.options button:hover{
    animation: bounce 0.5s infinite alternate;
}





.hands .computer-hand{
    transform: rotateY(180deg);
    /* position: relative;
    top: -20px;
    left: 205px; */
}



div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes moveLeft {
    from {
        transform: translateX(100vw); /* Start from the right */
    }
    to {
        transform: translateX(-100vw); /* Move completely to the left */
    }
}


.entry img{
    /* width: 100vw;
    height: 100vh; */
    animation: moveLeft 20s linear infinite;
    transition: opacity 0.5s cubic-bezier(0.72,-0.27, 0.01, 2.73) 0.5s ;
    transform: translateX(570px);
}

.entry button{
    
    position: absolute;
    z-index: 1;
    transform: translate(45vw,140px) ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color:aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#2980b9 ;
    cursor: pointer;
    /* animation: bounce 1s infinite ; */
    box-shadow: 0 0 50px #2980b9;
}
.entry button:hover{

  color: aliceblue;
        background: #2980b9;
        box-shadow: 0 0 25px #1ce952;
   
}
.entry{
    background-color: #2980b9;
    position: relative;
    top: -200px;
}

.rules{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}